.expenses-table-container {
  margin: 10% 15% 10% 5%;
  background-color: rgba(0, 230, 103, 0.15);
  box-shadow: 4px 4px rgba(0, 230, 103, 0.5);
  border-radius: 1.5rem;
  align-items: center;
  justify-content: center;
  display: block;
  padding: 5% 5% 10% 5%;
}

.remove-expense-selected-button {
  padding-top: 3%;
}