.expenses-container {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0% 2% 0% 230px;
}

.expenses-add-filter-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}

.expenses-info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-top: 5%;
  width: 1000px;
}