.investment-savings-tracker-item-container {
  // padding: 0 35px 0 35px;

  padding: 5px 20% 5px 5px;
  // box-shadow: 4px 4px lightblue;
  border-radius: 1.5rem;
  margin-right: 5%;
  margin-left: 3%;
  width: 1050px;
}