.investment-form-container {
  padding-right: 0%;
  margin-left: 10%;
}

.update-investment-container {
  padding: 35px 5% 35px 5%;
  // box-shadow: 4px 4px lightgreen;
  border-radius: 1.5rem;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.investment-button-update,
// .investment-button-create,
.investment-confirm-close-button,
.investment-button-close {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  justify-content: space-evenly;

  &:hover {
    background-color: rgb(73, 73, 73);
  }
}

// .radio-contribution-at,
// .radio-contribution-interval {
//   display: block;
//   cursor: pointer; 
//   user-select: none;
//   text-align: left;
//   &+.radio {
//     margin-top: 12px;
//   }

//   input {
//     display: none;
//     &+span {
//       display: inline-block; 
//       position: relative;
//       padding-left: 30px;
//       &:before {
//         content: '';
//         display: block; 
//         position: absolute;
//         top: 0px;
//         left: 0px;
//         border-radius: 50%;
//         margin-right: 5px;
//         width: 16px;
//         height: 16px;
//         border: 1px solid #ccc;
//         background: #fff;
//       }

//       &:after {
//         content: '';
//         display: block; 
//         width: 10px;
//         height: 10px;
//         background: #222;
//         position: absolute;
//         border-radius: 50%;
//         top: 3px;
//         left: 3px;
//         opacity: 0;
//         transform: scale(0,0); 
//         transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
//       }
//     }
//     &:checked+span:after {
//       opacity: 1;
//       transform: scale(1,1);
//     }
//   }
// }

.dropButton {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.compoundedDropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content label {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content label:hover {
  background-color: #ddd;
}

.compoundedDropdown:hover .dropdown-content {
  display: block;
}

.compoundedDropdown:hover .dropButton {
  background-color: #3e8e41;
}