.savings-accounts-form-summary-container {
  display: flex;
  // flex-direction: column;
  // width: 1000px;
  padding-left: 5%;

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
  }

  .savings-account-info-summary {
    height: 30%;
    margin-top: 3%;
    margin-right: 10%;
  }
}