.insurance-container {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 2% 10% 2% 10%;
}

.insurance-summary-add-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.insurance-filter-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.insurance-chart-container {
  display: block;
  justify-content: center;
  align-items: center;
}