.summary-graph-savings-container {
  padding: 10% 5% 7% 5%;
  background-color: rgba(0, 230, 103, 0.15);
  box-shadow: 4px 4px rgba(0, 230, 103, 0.5);
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10% 0% 5% 5%;
  width: 1175px;
}