.summary-container {
  // background-color: rgb(157, 198, 236);
  padding: 25px 5px 25px 25px;
  background-color: rgb(157, 198, 236, 40%);
  box-shadow: 4px 4px lightblue;
  border-radius: 1.5rem;
  margin: 5% 5% 0 5%;
  // text-align: center;
  height: 40%;
}

h5 {
  color: black;
}