.savings-goal-result-container {
  background-color: rgba(215, 246, 215, 0.724);
  box-shadow: 4px 4px rgba(144, 238, 144, 0.559);
  border-radius: 1.5rem;
  margin: 5% 20% 0% 20%;
  padding: 1% 20% 1% 20%;
  display: block;
  justify-content: center;
  align-items: center;
}