.insurances-table {
  align-items: center;
  justify-content: center;
  display: block;
  box-shadow: 1px 1px 1px 1px rgb(150, 150, 150);
  border-radius: 1.5rem;
  margin: 10% 15% 10% 5%;
  padding: 5% 5% 10% 5%;
}

.remove-insurance-selected-button {
  padding-top: 3%;
}