.currency-converter-container {
  justify-content: center;
  align-items: center;
  margin: 2% 30% 2% 30%;
  padding: 2%;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 1px 1px rgb(150, 150, 150);
}

.currency-converter-from-currency-container,
.currency-converter-to-currency-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}