.insurance-pie-chart {
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 1px 1px 1px 1px rgb(150, 150, 150);
  border-radius: 1.5rem;
  padding: 10% 5% 10% 5%;
  margin: 5% 1% 5% 1%;
}