.transaction-container {
  background-color: rgb(157, 198, 236, 20%);
  padding: 10%;
  border-radius: 1.5rem;
  width: 500px;
  border: 3px;

  box-shadow: 4px 4px lightblue;
  border-radius: 1.5rem;
}
