.transaction-container {
  // padding: 10%;
  border-radius: 1.5rem;
  width: 500px;
  border: 3px;
  height: 14%;
  // box-shadow: 4px 4px lightblue;
  border-radius: 1.5rem;
  
  &.deposit-transaction {
    background-color: rgba(199, 235, 199, 0.719);
    padding: 25px 5% 25px 25px;
    box-shadow: 4px 4px lightgreen;
    border-radius: 1.5rem;
    margin-bottom: 1.5%;
  }

  &.withdraw-transaction,
  &.transfer-transaction {
    background-color: rgb(255, 248, 192);
    padding: 25px 5% 25px 25px;
    box-shadow: 4px 4px rgb(255, 197, 88);
    border-radius: 1.5rem;
    margin-bottom: 1.5%;
  }
}
