.useful-tools-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 5% 2% 5%;

  .useful-tools-rounded {
    border-top: 5px solid #ffffff;
    border-radius: 1px;
    max-width: 80%;
  }
}
