.savings-goal-calculator-container {
  // display: block;
  justify-content: center;
  align-items: center;
  margin: 2% 15% 0% 15%;
  padding: 1%;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 1px 1px rgb(150, 150, 150);

  form {
    margin: 2% 20% 1% 20%;
  }
}