.all-savings-summary-container {
  display: block;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(215, 246, 215);
  border-radius: 1.5rem;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  padding: 0.5%;
  box-shadow: 4px 4px lightgreen;
  margin-bottom: 3%;
  margin-top: 3%;
}