.withdraw-container {
  padding: 25px 5% 25px 25px;
  box-shadow: 4px 4px rgb(255, 197, 88);
  border-radius: 1.5rem;
}

.transaction-add-to-expenses-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}