.calendar-todo-list {
  text-align: left;
  padding: 0;
  list-style: none;
}

.calendar-todo-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.calendar-todo-item-badge {
  vertical-align: top;
  margin-top: 8px;
  width: 6px;
  height: 6px;
}  

.insurance-schedule-calendar-container {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  margin: 2%;
  padding: 1%;
}