.chatbot-response-container {
  border-radius: 1.5rem;
  box-shadow: 1px 1px 1px 1px rgb(150, 150, 150);
  display: block;
  justify-content: center;
  align-items: center;
  padding: 3% 5% 3% 5%;
  margin-bottom: 3%;
  white-space: pre-line;
}