.investments-form-summary-container {
  padding: 35px 5% 35px 5%;
  box-shadow: 4px 4px lightgreen;
  border-radius: 1.5rem;
  margin-left: 5%;

  display: flex;
  flex-direction: column;
  width: 50%;

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
  }
}