.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  background: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);;
  padding: 0px 20px 0px 40px;

  h1 {
    color: white;
  }

  .nav-links-container {
    // width: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 40px 30px;
      text-align: center;
      cursor: pointer;
      color: white;
    }
  }
}
