.mortgage-calculator-container {
  // display: block;
  justify-content: center;
  align-items: center;
  margin: 2% 10% 2% 10%;
  padding: 2%;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 1px 1px rgb(150, 150, 150);

  form {
    margin: 2% 20% 2% 20%;
  }
}