.mortgage-calculator-result-container {
  background-color: rgba(215, 246, 215, 0.724);
  box-shadow: 4px 4px rgba(144, 238, 144, 0.559);
  border-radius: 1.5rem;
  margin: 5% 0% 0% 0%;
  padding: 1% 2% 1% 2%;
  display: flex;
  justify-content: center;
  // align-items: center;
}

.mortgage-calculator-result {
  padding: 2%;
  display: block;
  justify-content: center;
  // align-items: center;
}