.form-view-container {
  padding-left: 135px;
}

.form-view-separator-container {
  hr.rounded {
    border-top: 5px solid #bbb;
    border-radius: 5px;
    max-width: 100%;
  }

  padding-bottom: 30px;
}